* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face{
   font-family: 'Fixedsys';
   src: url("./Font/FSEX300.ttf");
  }
  @font-face{
    font-family: 'Eras-medium';
    src: url("./Font/ERASMD.TTF");
   }
   @font-face{
    font-family: 'Eras-light';
    src: url("./Font/ERASLGHT.TTF");
   }
   @font-face{
    font-family: 'Eras-bold';
    src: url("./Font/ERASBD.TTF");
   }
   @font-face{
    font-family: 'Eras-demi';
    src: url("./Font/ERASDEMI.TTF");
   }
  body{
    display: flex; 
    flex-direction: column; 
    background-image: url(./image/Background.jpg);
    background-repeat: repeat-y;
    background-position: 50% 10%;
    background-size:100%;
    position: fixed;

  }
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
  }
  .header{
    background-image: url(./image/header.png);
    background-size:110%;
    background-repeat: no-repeat;
    background-position: 10% 30%;
    display: flex;
    align-items: center;
    left: 0;
    top:0;
    right: 0;
    height:120px;
    z-index: 99;
    position: fixed;
  }
  @media only screen and (min-width: 700px) and (max-width:1400px) {
  .header{
    background-image: url(./image/header.png);
    background-size:110%;
    background-repeat: no-repeat;
    background-position: 10% 30%;
    display: flex;
    align-items: center;
    left: 0;
    top:0;
    right: 0;
    height:70px;
    z-index: 99;
    position: fixed;
  }}

  @media only screen and (max-width:700px) {
    .header{
      background-image: url(./image/header.png);
      background-size:110%;
      background-repeat: no-repeat;
      background-position: 10% 30%;
      display: flex;
      align-items: center;
      left: 0;
      top:0;
      right: 0;
      height:40px;
      z-index: 99;
      position: fixed;
    }}

    @media only screen and  (max-width:700px) {
      h1{
        font-size: smaller;
        -webkit-text-stroke: 0.1px rgba(255, 149, 0, 0);

      }} 
  .divsion {
    right: 10px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 170, 0) 0%, rgb(255, 238, 0) 80%, transparent 50%);
    background-size: 50px 100%;
    background-repeat: repeat-x
  }

#cardArea {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 25% 25% 25% 25%; 
    gap: 1px 1px; 
    grid-template-areas: 
      ". . . ."; 
    overflow-y: auto;
    height: 700px; 
    margin-top: 1%;
}

@media only screen and (min-width: 700px) and (max-width:1400px) {
  #cardArea {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 50% 50%; 
    gap: 1px 5px; 
    grid-template-areas: 
      ".."; 
    overflow-y: auto;
    height: 700px; 
    margin-top: 1%;
}
}
@media only screen and (max-width: 699px) {
  #cardArea {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 100%; 
    gap: 10px 10px; 
    grid-template-areas: 
      "."; 
    overflow-y: auto;
    height: 700px; 
    margin-top: 1%;
}
}

.title{
  margin-top: 10%;
  margin-bottom: 2%;
  font-family:Fixedsys;
  color:rgba(255, 253, 108, 0.905);
  text-align: center;
  -webkit-text-stroke: 0.1px rgb(255, 149, 0);
  
}
.addbutton>h1{
  margin-top :1%;
  margin-left:2%;
  font-family:Eras-demi;
  float:left;
  color:#EECC64;
}

#addItem{
  margin-top :1%;
  font-size:large;
  float:right;
  margin-right:2%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-text-stroke: 2px;
  background-color: #EECC64;
}

#addItem:active{
  background-color: #856504;
}


/* Add a translucent mask to the back pattern when the popup window pops up
Reference from:ostuthere. (2022, May 6). https://blog.csdn.net/qq_35727582/article/details/114868023  */
#overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
  display: none;
  z-index: 100;
}



/* mian part of the popup window */
.popup {
  background-color: #ECECEC;
  max-width: 400px;
  min-width: 200px;
  height: 600px;
  border-radius: 10px;
  margin: 100px auto;
  text-align: center;
}

.popup_title {
  position:relative;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #cccccc;
  background-color: #EECC64;
  border-radius:10px 10px 0 0;
  font-family:Eras-demi;
  text-align: center;
}

.cancelBtn{
  position: absolute;
  top:0;
  right:0;
 /* place the cancel button at the top right part of the pop up title*/

  font-size: xx-large;
  margin-top:2%;
  border-style:none;
  padding:5px;
  display:block;
  background-color: transparent;
}

.cancelBtn:hover{
  color: #ffffff;
}


.inputbox {
  padding: 10px 20px;
}

.popup_btn {
  margin-top:10px;
  padding-bottom: 10px;
}

/* 弹出框的按钮 */
.popup_btn>input {
  width: 40%;
  height: 40px;
  cursor: pointer;
  border: solid 1px #cccccc;
  border-radius: 5px;
  margin: 5px 10px;
  color: #000000;
  background-color: #ffc800;
  
}
.confirmBtn{
  font-size: large;
  font-weight: bold;
}
.confirmBtn:hover{
  background-color: #ffea00;
}

.confirmBtn:active{
  background-color: #b87e00;
}

#inputform {
  vertical-align:center;
  margin-top:10px;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em 1em;
  font-family:Eras-demi;
}
                
.inputbox {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
                
.inputbox> label {
  float: left;
  width: 90px;
  padding-right: 10px;
  text-align: right;
  height: 35px;
  vertical-align: middle;
}


#note{
  height:150px;
  width: 260px;
	border-radius: 3px;
	margin: 5px 0 5px 0;
  padding: .5em;
}

input[type="radio"] {
  margin-top:-5px;
  margin-left:30px;
  margin-right:5px;
  zoom:2;
  
}

.textfield{
  text-align: center;
	width: 260px;
	height: 28px;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	}


.NA{
  content:url(icon/NA.png);
  width:50px;
  height:50px;
  margin-right:10px; 
  border-style:solid; 
  border-color:#000000 ;
}

.gun{
  content:url(icon/gun.png);
  width:50px;
  height:50px;
  margin-right:10px; 
  border-style:solid; 
  border-color:#000000 ;
}

.glove{
  content:url(icon/glove.png);
  width:50px;
  height:50px;
  margin-right:10px; 
  border-style:solid; 
  border-color:#000000 ;
}

.knife{
  content:url(icon/knife.png);
  width:50px;
  height:50px;
  margin-right:10px; 
  border-style:solid; 
  border-color:#000000 ;
}

.delete{
  content:url(icon/delete.png);
  width:40px;
  height:40px;
}

.itemCard{
  background-color: #ECECEC;
  height:400px;
  text-align: center;
  width:350px;
  margin:0 auto;
  border-radius: 10px;
  vertical-align: middle;
}

.gunRound{
  background-image:url(icon/gun.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  width:80px;
  height:80px;
  border-style:solid; 
  border-color:#000000 ;
  border-radius: 100%;
  
}

.gloveRound{
  background-image:url(icon/glove.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  width:80px;
  height:80px;
  border-style:solid; 
  border-color:#000000 ;
  border-radius: 100%;
  align-items: center;
  
}

.knifeRound{
  content:url(icon/knife.png);
  width:80px;
  height:80px;
  border-style:solid; 
  border-color:#000000 ;
  border-radius: 100%;
  align-items: center;
}

.itemCard>button{
  display: flex;
  margin:0 auto;
}

.cardTitleBuy{
  background-color: #FF0000;
  height:70px;
  border-radius: 10px 10px 0 0;
  padding-top: 20px;
  font-size: xx-large;
  font-family: fixedsys;
  text-align: center;
  box-shadow: 0 5px 10px 0px #999
}

.cardTitleSell{
  background-color:#24FF00;
  height:70px;
  border-radius: 10px 10px 0 0;
  padding-top: 20px;
  font-size: xx-large;
  font-family: fixedsys;
  text-align: center;
  box-shadow: 0 5px 10px 0px #999

}

.infoTitleBuy{
  background-color: #FF0000;
  height:70px;
  border-radius: 10px 10px 0 0;
  padding-top: 20px;
  font-size: xx-large;
  font-family: fixedsys;
  text-align: center;
  box-shadow: 0 5px 10px 0px #999
}

.infoTitleSell{
  background-color:#24FF00;
  height:70px;
  border-radius: 10px 10px 0 0;
  padding-top: 20px;
  font-size: xx-large;
  font-family: fixedsys;
  text-align: center;
  box-shadow: 0 5px 10px 0px #999

}

.cardTitleBuy:hover{
  background-color: #5d0000;
  color:white;
  box-shadow: 0px 15px 10px 0px #5c5c5c

}

.cardTitleSell:hover{
  background-color:#0d6400;
  color:white;
  box-shadow: 0px 15px 10px 0px #5c5c5c


}

.cardContent{
  margin-top:10px;
  font-family: Eras-demi;
  line-height: 50px;
}


.infoCard{
  margin:100px auto;
  width: 400px;
  background-color: #ECECEC;
  z-index: 150;
  border-radius: 10px;
  position: relative;
  height:600px;
}


.overlay2 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
  display: none;
  z-index: 100;
}

.closebtn{
  font-size: xx-large;
  border-style:none;
  padding:5px;
  display:block;
  background-color: transparent;
  position: absolute;
  top:15px;
  right:5px;
}
.closebtn:hover{
 color:#ffffff;
}
.basicinfo{
  font-family: Eras-demi;
  grid-column: 1 / 2; 
  grid-row: 1/ 2;
  margin-top:50px;
  margin-left: 30px;
}

.detailinfo{
  grid-column: 2/ 3; 
  grid-row: 1 / 2;
  font-family: Eras-demi;
  right: 5px;
  margin:50px auto;
  text-align: center;
}

.infovalue{
  font-family: Eras-demi;
  margin:0 auto;

  grid-column: 1 / 3; 
  grid-row: 2 / 3;

}


.infocontent {  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 10% 40%;
  gap: 1px 1px;
  height: 530px;
}

.noteinfo{
  grid-column: 1 / 3; 
  grid-row: 3 / 4;
  font-family: Eras-demi;
  padding-left: 30px;
  padding-right: 30px;
}

.notecontent{
  background-color: #c9c8c8;
  margin:0 auto;
  width:300px;
  height: 150px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
}




