* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    display: flex; 
    flex-direction: column; 
    background-image: url(../image/Background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 10%;

  }
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
  }
  .header{
    background-image: url(../image/header.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 10% 30%;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    height:15%;
    z-index: 99;
  }


  .container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  15% 10% 75%;
    gap: 1px 1px;
    grid-template-areas:
      "header"
      "divsion "
      "cardArea ";
  }

  .header { grid-area: header; }

  .divsion { grid-area: divsion; }
  
  .cardArea { grid-area: cardArea; }
  

  .divsion {
    background-color: aliceblue;
  }

.cardArea {
    background-color: rgb(165, 11, 11);
}
